/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */
@import "bootstrap_and_overrides.css.less";

.right{
    float: right;
    position: relative;
    top: 343px;
}
#users_list{
    margin-top: 23px;
}
#users_list td{
    padding: 10px 5px;
    border-top: 1px solid #bfbfc0;
}
.table_heading{background:#d7d9d9;color:#4d4e4f;font-weight:bold;font-size:15px;border:1px solid #bfbfc0;}
.table_heading th{padding:10px 5px;
                 border-top:1px solid #bfbfc0;
                 text-align:left;
                 font-size:14px;
                 font-weight:regular;
}
.trodd{background-color:#ffffff;color:#4d4e4f;font-size:13px;padding-left:5px;}
.treven{background-color:#eeeeee;color:#4d4e4f;font-size:13px;padding-left:5px;}
.trodd a{color:#4d4e4f;}
.treven a{color:#4d4e4f;}
tr.last_row{background:#d7d9d9;text-align:center;}
tr.last_row td{text-align:center;font-weight:bold;font-size:13px;border:1px solid #bfbfc0;}
tr.last_row td a{color:#434243;} 
